#encoding: utf-8
<% provide(:title, "Iniciar sesión") %>
<h1>
	Inicio de sesión
</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label :email, "Correo electrónico" %>
			<%= f.text_field :email %>

			<%= f.label :password, "Contraseña" %>
			<%= f.password_field :password %>

			<%= f.submit "Iniciar sesión", class: "btn btn-large btn-primary" %>
		<% end %>

		<p>¿Nuevo usuario? <%= link_to "Registrarse", registrarse_path %></p>
	</div>
</div>

